<h4>Editar amostragem #<%= @sampling.id %></h4>

<%= render 'form', sampling: @sampling %>

<div class="fixed-action-btn">
  <%= link_to @sampling, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to samplings_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>
