<h4>Nova amostragem</h4>

<%= render 'form', sampling: @sampling %>


<div class="fixed-action-btn">
  <%= link_to samplings_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>
