<h4>Novo Produto</h4>

<%= render 'form', product: @product %>

<div class="fixed-action-btn">
  <%= link_to products_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>
